/*  FONTS
    -------------------------------------------------------------------- */

@font-face {
    font-family: "AmiamieRounded";
    src: url("fonts/Amiamie-RegularRound.otf");
    font-weight: normal;
}
    
@font-face {
    font-family: "AmiamieRounded-bold";
    src: url("fonts/Amiamie-BlackRound.otf");
}