
/*  LAYOUT
    =========================================================  */

:root{
    --c-light: #f9f9f9;
    --c-pressed: #eaeaea;
    --c-border: lightgrey;
    --c-text: grey;
    --c-active: mediumblue;
}

html,
input,
button{
    font-family: system-ui;
}

@media only screen{
    body{
        display: grid;
        grid-template-columns: 21rem 1fr;
        height: 100vh;
        overflow: hidden;
    }

    body > aside{
        overflow: auto;
        padding: 1rem;
        line-height: 1.4;
    }
    .slides-container{
        box-sizing: border-box;
        background-color: dimgray;
        overflow: auto;
    }
}
@media print{
    body > aside{
        display: none;
    }
    .slides-container{
        display: block;
        gap: 0;
        padding: 0;
    }
    .slides-container > article.slide{
        break-after: page;
        page-break-inside: avoid;
    }
}

/*  CONTROLS
    =========================================================  */

.controls{
    line-height: var(--lh);
    font-family: monospace;
    font-size: var(--fs-control);

    --fs-control: 0.725rem;
    --border-width: 1.5px;
    --border: var(--border-width) solid var(--c-border);
    --pad: 0.5rem;
    --lh: 1.25em;

    border-right: var(--border);
}

/* text */
.controls h2{
    margin-top: var(--lh);
    margin-bottom: calc(var(--lh) * 0.5);
    font-family: inherit;
    font-weight: bold;
}
.controls h3{
    margin-top: calc(var(--lh) * 0.5);
    margin-bottom: calc(var(--lh) * 0.5);
    font-family: inherit;
}
.controls p {
    margin-top: calc(var(--lh) * 0.5);
    color: var(--c-text);
    font-size: 0.85em;
}
.controls footer{
    font-size: 0.85em;
    margin-top: calc(var(--lh) * 4);
    padding-top: var(--lh);
    border-top: var(--border);
    color: var(--c-text);
}
.controls > *:first-child{
    margin-top: 0;
}
.controls code{
    display: inline-block;
    background-color: var(--c-pressed);
    border-radius: calc(var(--pad) * 0.5);
    padding: 0 var(--pad);
}

/* STANDARD UI: text-area */
.controls textarea,
.controls input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    padding: var(--pad);
    border: var(--border);

    line-height: 1.15rem;
    font-family: monospace;
    font-size: var(--fs-control);
}
.controls textarea{
    height: calc(var(--lh) * 10);
}

/* STANDARD UI: slider */
.controls input[type="range"]{
    width: 100%;
}

/* STANDARD UI: buttons */
.controls button,
.controls input[type="radio"] + label,
.controls input[type="file"] + label,
.controls input[type="checkbox"] + label,
.controls select{
    display: inline-block;
    box-sizing: border-box;
    padding: calc(var(--pad) * 0.5) var(--pad);
    border: var(--border);
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    font-size: 1em;
    border-radius: var(--pad);
    background-color: var(--c-light);
    color: var(--c-text)
}
.controls button:hover,
.controls input[type="radio"] + label:hover,
.controls input[type="file"] + label:hover,
.controls input[type="checkbox"] + label:hover,
.controls select:hover{
    border-color: var(--c-active);
    color: var(--c-active);
    z-index: 999;
    position: relative;
}
.controls button:active,
.controls input[type="radio"] + label:active,
.controls input[type="file"] + label:active,
.controls input[type="checkbox"] + label:active,
.controls select:active{
    background-color: var(--c-pressed);
}

/* margin adjustment */
.controls button + *{
    margin-top: calc(var(--lh) * 0.5);
}
.controls h2 + button{
    margin-top: 0;
}

/* STANDARD UI: radio */
.controls input[type="radio"],
.controls input[type="file"]{
    display: none;
}
.controls input[type="radio"] + label{
    display: inline-block;
    color: var(--c-text);
    border-radius: 0;
    margin-top: calc(-1 * var(--border-width));
    margin-right: calc(-1 * var(--border-width));
}
.controls .radio-selector{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* STANDARD UI: checkbox */
.controls input[type="checkbox"]{
    display: none;
}


/* checked */
.controls input[type="radio"]:checked + label,
.controls input[type="checkbox"]:checked + label{
    color: white;
    border-color: var(--c-active);
    background-color: var(--c-active);
    position: relative;
    z-index: 1;
}


/*  MODE UI TABS
    =========================================================  */

#filters{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}

.post-only{
    display: none;
}
body.post .post-only{
    display: contents;
}
.logo-only{
    display: none;
}
body.logo .logo-only{
    display: contents;
}
.logo-fit-only{
    display: none;
}
body.logo-fit .logo-fit-only{
    display: contents;
}

body.logo label[for="tekhne_logo"]{
  display: none;
}

.text-only {
  display: none;
}
body.content_text .text-only{
  display: contents;
}
body.fb-event label[for="content_text"],
body.fb-event .text-only{
  display: none;
}

.image-only {
  display: none;
}
body.content_img .image-only{
  display: contents;
}

/*  post layout
    ---------------------------------------------------------- */

canvas.slide{
    box-sizing: border-box;
    background: white;
    position: relative;
    overflow: hidden;
}

/* following "best-practices" */
body.insta-square canvas.slide{
    width: 1080px;
    height: 1080px;
}
body.insta-story canvas.slide{
    width: 1080px;
    height: 1920px;
}
body.fb-event canvas.slide{
    width: 1920px;
    height: 1005px;
}

@media screen {
    .resize{
        transform: scale(0.5);
        transform-origin: top left;

        display: flex;
        gap: 2rem;
        padding: 2rem;

        overflow: visible;
    }

    body.logo .resize{
        transform: scale(0.5);
    }

    canvas.slide{
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 auto;
    }
}
